html {
    height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 100%;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgba(246, 36, 89, .7), rgba(68, 108, 179, 0.8)), url('../bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    font-family: 'Montserrat';
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 3px 3px 1px rgba(246, 36, 89, .6);
}

h2,
h3,
h4 {
    font-weight: 200;
}

h2 {
    font-weight: 300;
}

@media (min-width: 520px) {
    html {
        font-size: 16px;
    }
}

a {
    outline: none;
    border: none;
    text-decoration: none;
}


/* Icons */
.icons {
  margin-top: 2rem;
}
.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem;
    padding: .6rem;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    fill: #fff;
    transition: background 400ms linear;
}
.icon svg {
  margin: auto;
}

.icon:hover {
  background: #3A539B;
}


/* Animations */

.animated {
    animation-duration: .75s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}
